name: Code Style

on: [push]

jobs:
  cs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install dependencies
        run: pip install --upgrade pip flake8 pylint
      - name: Run flake8
        run: flake8 .
